%form.text-left
  .form-group
    %label{for:"name"} Tu nombre
    %input{id:"name", type:"text"}

  .form-group
    %label{for:"email"} Tu correo electrónico
    %input{id:"email", type:"email"}

  .form-group
    %label{for:"company"} Empresa
    %input{id:"company", type:"text"}

  .form-group
    %label{for:"phone"} Teléfono
    %input{id:"phone", type:"text"}

  .form-group
    %label{for:"subject"} Asunto
    %input{id:"subject", type:"text"}

  .form-group
    %label{for:"message"} Tu mensaje
    %textarea{id:"message", name:"message", rows:"4"}

  .text-center
    %a.button ENVIAR
