$brand-color:           #EE3A42;
$accent-color:          $brand-color;
$dark-accent-color:     $brand-color;

//$primary-color:         $accent-color;
//$primary-dark:          shade($accent-color,  2%);

// Custom
$font-family-montserrat:     'Montserrat', sans-serif;
$font-family-opensans:       'Open Sans', sans-serif;

// Overrides
$font-family-base:            'Heebo', sans-serif;
$font-size-base:              16px;
