.bg-light   { background-color: #f3f0ef; }
.bg-lighter { background-color: #fafafa; }
.bg-dark    { background-color: black; }

footer {
  padding: 5rem 0;
}

@include response(from phone) {
  .footer-menu {
    max-width: 50%;
  }
}
@include response(from tablet) {
  .footer-info {
    max-width: 30%;
  }
}
