.section-featured {
  height: 100vh;
  overflow: hidden;
}

.logo-featured {
  margin-bottom: 1rem;
}

.bg-webdox      { background-color: #F6F8F9; }
.bg-instagantt  { background-color: #0F81F4; }
.bg-sosafe      { background-color: #FFFFFF; }
.bg-prey        { background-color: #FFFFFF; }
.bg-vadb        { background-color: #FFFFFF; }
.bg-timebilling { background-color: #FFFFFF; }
.bg-vadb        { background-color: #FFFFFF; }
