%section.section.section-featured.theme-dark.bg-instagantt.stack.align-items-center
  .container
    .columns.align-items-center
      .column.width-50
        = image_tag "uploads/logos/instagantt-inverse.svg", class:"logo-featured"
        %h1.type-display3 Un diseño limpioy refrescante
        %p.type-headline Rebranding, mejoras de usabilidad y una nueva interfaz
        %a.button{href:"#"} Ver caso
      .column.width-50
        = image_tag "uploads/featured/instagantt.jpg"
