%section.section.section-featured.bg-letstalk.stack.align-items-center
  .container
    .columns.align-items-center
      .column.width-50
        = image_tag "uploads/logos/letstalk.svg", class:"logo-featured"
        %h1.type-display3 Una interfaz que se adapta naturalmente
        %p.type-headline Mensajería instantánea para grandes empresas con atención automática y distribución de conversaciones
        %a.button{href:"#"} Ver caso
      .column.width-50
        = image_tag "uploads/featured/letstalk.jpg"
