%section.section.section-featured.theme-dark.with-background.stack.align-items-center{style:"--image:url(/assets/uploads/featured/prey-project.jpg)"}
  .container
    .columns.align-items-center
      .column.width-50
        = image_tag "uploads/logos/prey-project-inverse.svg", class:"logo-featured"
        %h1.type-display3 Un rediseñomultiplataforma
        %p.type-headline Para mantener protegidos a todos tus dispositivos
        %a.button{href:"#"} Ver caso
      .column.width-50

