%section.section.section-featured.bg-sosafe.stack.align-items-center
  .container
    .columns.align-items-center
      .column.width-50
        = image_tag "uploads/logos/sosafe.svg", class:"logo-featured"
        %h1.type-display3 Mejor experienciaMejor resultado
        %p.type-headline Con el foco puesto en conectar y proteger a las personas ante una emergencia
        %a.button{href:"#"} Ver caso
      .column.width-50
        = image_tag "uploads/featured/sosafe.jpg"

