%section.section.section-featured.bg-timebilling.stack.align-items-center
  .container
    .columns.align-items-center
      .column.width-50
        = image_tag "uploads/logos/timebilling.svg", class:"logo-featured"
        %h1.type-display3 Un softwareremasterizado
        %p.type-headline El sistema por excelencia en Latinoamérica para la gestión de estudios jurídicos
        %a.button{href:"#"} Ver caso
      .column.width-50
        = image_tag "uploads/featured/timebilling.jpg"
