%section.section.section-featured.bg-vadb.stack.align-items-center
  .container
    .columns.align-items-center
      .column.width-50
        = image_tag "uploads/logos/vadb.svg", class:"logo-featured"
        %h1.type-display3 Estructuramos un directorio de arte contemporáneo
        %p.type-headline Relacionando personas, obras, organizaciones, publicaciones y eventos de arte latinoamericano
        %a.button{href:"#"} Ver caso
      .column.width-50
        = image_tag "uploads/featured/vadb.jpg"
