%section.section.section-featured.bg-webdox.stack.align-items-center
  .container
    .columns.align-items-center
      .column.width-50
        = image_tag "uploads/logos/webdox.svg", class:"logo-featured"
        %h1.type-display3 Una experiencia diseñada para escalar
        %p.type-headline Y mantener todo el ciclo de vida de los contratos en un solo lugar
        %a.button{href:"#"} Ver caso
      .column.width-50
        = image_tag "uploads/featured/webdox.jpg"
