%section.section.theme-dark.bg-dark.height-100.stack.align-items-center{id:"destacado"}
  .container
    .columns
      .column.width-70
        %h1.type-display3.mb-7
          Somos VOLTA, un estudio experto en diseño de productos digitales
        %p.type-headline.text-secondary.mb-7 Ayudamos a empresas y sus equipos a definir sus visiones, llevar ideas a la realidad y mejorar sus productos o servicios.

        %a.button{href:""} Lee mas sobre VOLTA
        %p.text-hint.mt-5 O desliza para ver nuestros trabajos
