%section.section{id:"hablemos"}
  %div.container.fluid.text-center
    .bloc.xlarge.bg-light
      %h2.type-display3 Hablemos de tus objetivos
      %p.type-display1.text-secondary Dejanos tu email y agenda una reunión.
      = partial "forms/agenda"
